.main-header {
    box-shadow: 1px 14px 5px 0px grey;
    background-color: #FFC107;
}

#register_modal div{
    display: flex;
}

.modal {
    max-width: 99%;
    width: auto;
}

.countr p{
    /* padding: 5px; */
    font-size: 28px;
}

.pure-g {
    padding: 10px;
}

.action_container {
    display: flex;
    flex-direction: column;
}