body {
	padding:;
	background-color: saddlebrown;

    background-image: url(logo.png);
    background-size: cover;
    /*background-image: url("logo.png") repeat;*/
}

.main-header {
    background-color: #FFC107;
	font-family: "Arial";
}

.logo {
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
}

#register_modal div{
    display: flex;
}

.modal {
    max-width: 99%;
    width: auto;
}

.countr p{
    /* padding: 5px; */
    font-size: 28px;
}

.pure-g {
    padding: 10px;
}

.action_container {
    display: flex;
    flex-direction: column;
}
